/__pycache__
/.claude
/Output
test_*
*.json
*.png
*.tif
*.tiff
*.jpg
*.jpeg
*.webp
!BuzzAldrin.jpg
!MigrantMother.tif
!Earthrise.jpg
!BlackHole.jpg
!PaleBlueDot.tif
!Photo51.tiff
!Ingenuity.jpg
!Challenger.jpg
!Einstein.jpg
!JFK.webp
!MarilynMonroe.jpg
!NotreDame.jpg
!Osama_Assassination.jpg
!Saigon.jpg
!TankMan.jpg